#playerinput {
    width: 5vw;
}
.player {
    background-color: black;
    padding: 5px;
    
}
.course {
    width: 50vw;
    padding: 1vw;
}
.tee {
    width: 50vw;
    padding: 1vw;
}
#newplayer, #newplayersubmit {
    border-radius: 10px;
}
#playerdata {
    
}
#course-and-tee {
    display: flex;
    justify-content: space-between;
}